import { Controller } from '@nestjs/common';
import { {{ entityName }}Service } from './{{ entityFileName }}.service';

@Controller('{{ routeName }}')
export class {{ entityName }}Controller {
  constructor(
    private readonly {{ lowerFirst(entityName) }}Service: {{ entityName }}Service
  ) {}
}
